.project-container {
    display: flex;
    background: white;
    opacity: 30;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    max-width: 30%;
}

.square:after {
    content: "";
    display: flex;
    padding-bottom: 100%;
  }

@media only screen and (max-width: 896px) {
    .project-container {
        width: 100%;
   }
}

.project-stuff {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.top-container {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 30;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    padding: 4px;
    padding: 2rem;
    margin-top: 2rem;
}

.top-container .info-links {
    padding: 0;
}

.top-container p a {
    font-weight: 700;
    color: #333;
}

.top-container p a:hover {
    color: #425BB5;
}

.info-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    /* padding: 100px 0; */
    background: white; 
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    padding-bottom: 8px;
    margin-bottom: 1.5rem;
}

.info-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
}

.info-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info-logo {
    max-height: 7rem;
    max-width: 7rem;
    margin-right: 16px;
    margin-top: 20px;
}

.info-logo img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.info-container li {
    list-style: disc;
    font-size: 15px;
}

.info-container p {
    font-size: 15px;
    margin-bottom: 0;
}

.info-container h5 {
    margin-bottom: 0;
}

.info-container ul {
    margin-bottom: 3px;
}

.info-container a {
    font-weight: 700;
    color: #333;
}

.info-container a:hover {
    color: #425BB5;
}

.info-container h3 {
    margin-bottom: 2px;
    font-weight: 600
}

.info-container h5 {
    margin-top: 0;
}

.info-container button {
    padding: .5rem 1rem;
    background: #f3f3f3;
}

.info-links {
    display: flex;
    flex-wrap: wrap;
    list-style: disk;
    padding-bottom: 10px;
    padding-top: 10px;
}

.info-links button {
    background-color: none;
    border: solid;
    border-color: #425BB5;
    border-width: 1px;
    font-size: 1.4rem;
    padding: 7px;
    border-radius: 10px;
    color: #425BB5;
    margin-right: 7px;
    margin-bottom: 7px;
}

.info-links button:hover {
    background-color: #425BB5;
    color: white;
}

.project-container img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}