.info-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    /* padding: 100px 0; */
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}

.info-header {
    display: flex;
    flex-direction: row;
}

.info-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 85%;
}

.info-logo {
    max-height: 8rem;
    max-width: 8rem;
    margin-right: 20px;
    margin-top: 20px;
}

.info-logo img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.info-container li {
    list-style: disc;
}

.info-container p {
    font-size: 17px;
}

.info-container li {
    font-size: 17px;
}

.info-container a {
    font-weight: 700;
    color: #333;
}

.info-container a:hover {
    color: #425BB5;
}

.info-container h3 {
    margin-bottom: 2px;
    font-weight: 600
}

.info-container h5 {
    margin-top: 0;
}