.overlay-image {
    background: black;
}

.white-font {
    color: whitesmoke;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social_links {
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    font-size: 3rem;
}

.social_icons .fa {
    margin-bottom: 1rem;
    margin-right: 1.3rem;
    border-radius: 10%;
    outline: thin;
    color: whitesmoke;
}

.dark .fa {
    color: #425BB5;
}

.social_icons i:hover {
    transform: scale(1.1);
}

.social_icons .fa-linkedin:hover {
    color: #2867b2;
}

.social_icons .fa-envelope:hover {
    color: red;
}

.social_icons .fa-github-square:hover {
    color: black;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill-icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 3px;
}

.skillset-obj {
    margin-right: 7px;
    border-radius: 10px;
    padding: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    height: 3.5rem;
    font-size: 1.5rem;
    margin-bottom: 7px;
    outline-offset: ;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    align-content: center;
    display: flex;
}

.skillset-obj:hover {
    color: #425BB5;
    border-color: #425BB5;
}

.gif-container {
    display: block;
    text-align: center;
}

.contact-gif {
    object-fit: contain;
    max-width: 50%;
}

.experience-header {
    display: flex;
    max-height: 8rem;
    margin-bottom: 1rem;
}

.experience-logo {
    height: inherit;
    max-width: 8rem;
    margin-right: 10px;
}

.experience-logo img {
    height: 100%;
}